<!-- {% extends "base.html" %}
{% block main %}
<h1>
    Viz 2
</h1>
{% endblock %} -->
<!DOCTYPE html>
<html>
<head>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datasource@0.1.0"></script>
<script src="https://d3js.org/d3.v5.min.js"></script>
</script>
</head>
<body>
<canvas id="myChart" width="500" height="300"></canvas>
<script type="text/javascript">
// function makeChart (firearmChart);
   var ctx = document.getElementById("myChart");
   var firearmChart = new Chart(ctx, {
      type: 'line',
         data: {
            labels: ["2017-01", "2017-12","2018-01", "2018-12", "2019-01", "2019-12", "2020-01", "2020-12"],
            datasets: [
               { label: 'Firearm Permits Granted',
               data: [2032108,2575486,1996721,2517286,2150322, 2898501, 2652263, 3904879],
               backgroundColor :['rgba(255, 129, 102, 1)',
               'rgba(234, 162, 235, 1)',
               'rgba(255, 206, 36, 1)',
               'rgba(75, 192, 192, 1)',
               'rgba(153, 102, 255, 1)',
            ],
         }
      ]
   },
   options: {
      scales: {
         yAxes: [{
            ticks: {
               beginAtZero:true
            }
         }]
      }
   }
   
});

// // Request data using D3
// d3.csv('reduced_gun_violence.csv')
//   .then(makeChart);
</script>
</body>
</html>
