<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Maria Quinton, Gabe New, Jeremy Najera">
    <title>Sample of Our Data</title>


  <!--CSS & Bootstrap Link-->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/darkly/bootstrap.min.css" integrity="sha384-nNK9n28pDUDDgIiIqZ/MiyO3F4/9vsMtReZK39klb/MtkZI3/LtjSjlmyVPS3KdN" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="style.css">
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>
    <!-- D3 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/6.4.0/d3.js" integrity="sha512-nUKG/5WjpjShkRZ7hidJ+GhtjnTbQV+IGf0c3KZCsOyqLPSzzzHzJ6QE57GPFA/WsE6nOKuGDlSXlrBxGELtOA==" crossorigin="anonymous"></script>


</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="base.html">Gun Violence Data</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link" href="base.html">Home</a>
              </li>
              <li class="nav-item dropdown">
                <!-- <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">
                  Plots
                </a> -->
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="area_chart.html">Area Chart</a>
                  <a class="dropdown-item" href="map.html">Map</a>
                  <!-- <a class="dropdown-item" href="cloudiness.html">Cloudiness</a>
                  <a class="dropdown-item" href="windiness.html">Wind Speed</a> -->
                </div>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="mulit-line.html">Comparison</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="data.html">Data</a>
              </li>
            </li>
          </ul>
        </div>
      </nav>

<canvas id="myChart" width="300" height="160"></canvas>
<script type="text/javascript">
// function makeChart (firearmChart);
   var ctx = document.getElementById("myChart");
   var firearmChart = new Chart(ctx, {
      type: 'line',
         data: {
            datasets: [
               { label: 'Firearm Permits Granted',
               data: [11134651, 9941684, 10229162, 6482780, 6027166],
               backgroundColor :['rgba(255, 129, 102, 1)',
               'rgba(234, 162, 235, 1)',
               'rgba(255, 206, 36, 1)',
               'rgba(75, 192, 192, 1)',
               'rgba(153, 102, 255, 1)',
            ],
            order: 1
         }, { type: 'line',
         label: 'Gun Deaths in the US',
         data: [15119,15704, 14879, 39525, 43490, 3334], 
         backgroundColor: ['rgba(63, 127, 191, 1)',
               'rgba(68, 128, 1)'],
         order: 2
         }],
         labels: ["2016", "2017", "2018", "2019","2020", "2021"],
   },
   options: {
      title: {
            display: true,
            text: 'Firearm Permits vs Gun Violence Deaths in the US'},
      scales: {
         yAxes: [{
            ticks: {
               beginAtZero:true
            }
         }]
      }
   }
   
});

// // Request data using D3
// d3.csv('reduced_gun_violence.csv')
//   .then(makeChart);
</script>
</body>
</html>
