<!DOCTYPE html>
<html>
<head>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datasource@0.1.0"></script>
<script src="https://d3js.org/d3.v5.min.js"></script>
</script>
</head>
<body>
<canvas id="myChart" width="500" height="300"></canvas>
<script type="text/javascript">
// function makeChart (firearmChart);
   var ctx = document.getElementById("myChart");
   var firearmChart = new Chart(ctx, {
      type: 'line',
         data: {
            datasets: [
               { label: 'Firearm Permits Granted',
               data: [11134651, 9941684, 10229162, 6482780, 6027166],
               backgroundColor :['rgba(255, 129, 102, 1)',
               'rgba(234, 162, 235, 1)',
               'rgba(255, 206, 36, 1)',
               'rgba(75, 192, 192, 1)',
               'rgba(153, 102, 255, 1)',
            ],
            order: 1
         }, { type: 'line',
         label: 'Gun Deaths in the US',
         data: [15119,15704, 14879, 39525, 43490, 3334], 
         backgroundColor: ['rgba(63, 127, 191, 1)',
               'rgba(68, 128, 1)'],
         order: 2
         }],
         labels: ["2016", "2017", "2018", "2019","2020", "2021"],
   },
   options: {
      title: {
            display: true,
            text: 'Firearm Permits vs Gun Violence Deaths in the US'},
      scales: {
         yAxes: [{
            ticks: {
               beginAtZero:true
            }
         }]
      }
   }
   
});

// // Request data using D3
// d3.csv('reduced_gun_violence.csv')
//   .then(makeChart);
</script>
</body>
</html>
