<!DOCTYPE html>
<html>
<head>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datasource@0.1.0"></script>
<script src="https://d3js.org/d3.v5.min.js"></script>
<!--CSS & Bootstrap Link-->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/darkly/bootstrap.min.css" integrity="sha384-nNK9n28pDUDDgIiIqZ/MiyO3F4/9vsMtReZK39klb/MtkZI3/LtjSjlmyVPS3KdN" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="style.css">
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>
  <!-- D3 -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/6.4.0/d3.js" integrity="sha512-nUKG/5WjpjShkRZ7hidJ+GhtjnTbQV+IGf0c3KZCsOyqLPSzzzHzJ6QE57GPFA/WsE6nOKuGDlSXlrBxGELtOA==" crossorigin="anonymous"></script>
</script>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="base.html">Gun Violence Data</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="base.html">Home</a>
            </li>
            <!-- <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Plots
              </a> -->
              <li class="nav-item">
                <a class="nav-link" href="/templates/area_chart.html">Area Chart</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/templates/map.html">Map</a>
              </li>
            <li class="nav-item">
              <a class="nav-link" href="/templates/mulit-line.html">Comparison</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="data.html">Data</a>
            </li>
          </li>
        </ul>
      </div>
    </nav>

<canvas id="myChart" width="400" height="140"></canvas>
<script type="text/javascript">
	var ctx = document.getElementById("myChart");

var myChart = new Chart(ctx, {
  type: 'scatter',
  data: {
    datasets: [
    	{
        label: 'Firearm Permits in the US',
        data: [{x:2016, y:11134651}, {x: 2017, y: 9941684}, {x: 2018, y: 10229162}, {x: 2019, y: 6482780}],
        showLine: true,
        fill: false,
        borderColor: 'rgba(0, 200, 0, 1)'
    	},
      {
        label: 'Gun Deaths in the US',
        data: [{x:2016, y:15119}, {x: 2017, y: 15704}, {x: 2018, y: 14879}, {x: 2019, y: 39525}, {x: 2020, y: 43490}, {x: 2021, y: 3334}],
        showLine: true,
        fill: false,
        borderColor: 'rgba(200, 0, 0, 1)'
    	}
    ]
  },
  options: {
    tooltips: {
      mode: 'index',
      intersect: false,
    },
    hover: {
      mode: 'nearest',
      intersect: true
    },
    scales: {
      yAxes: [{
        ticks: {
          beginAtZero:false
        }
      }]
    },
  }
});
</script>
</body>
</html>